nav h5 {
  font-family: 'Comfortaa', cursive; }

nav .nav-link {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  padding: 5px 13px !important;
  text-transform: uppercase; }

.navbar .nav-item.active {
  border-bottom: 1px solid #dee3e2; }

#showcase .carousel-item {
  height: 550px; }

#showcase .carousel-img-1 {
  background-image: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

#showcase .carousel-img-2 {
  background-image: url(../images/image2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

#showcase .carousel-img-3 {
  background-image: url(../images/image3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

#showcase h2 {
  color: #dee3e2;
  font-family: 'Comfortaa', cursive;
  font-weight: 600; }

#showcase .btn {
  font-family: 'Comfortaa', cursive;
  font-size: 700; }

#home-icon h5 {
  font-family: 'Comfortaa', cursive; }

#home-icon i {
  color: #444444; }

#info h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  color: #444444; }

#home-heading, #video {
  position: relative;
  min-height: 250px;
  background-image: url(../images/lights.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #home-heading h1, #home-heading p, #video h1, #video p {
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
    color: #dee3e2; }
  #home-heading .overlay, #video .overlay {
    background-color: #33313bb0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

#video {
  background-image: url(../images/media.jpg);
  min-height: 250px; }
  #video .fas {
    color: #dee3e2; }

#gallery h1, #gallery p {
  font-family: 'Comfortaa', cursive;
  color: #444444; }

#gallery img {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s; }
  #gallery img:hover {
    box-shadow: 0px 0px 5px 2px #444444; }

#newsLetter h1, #newsLetter p {
  color: #dee3e2;
  font-family: 'Comfortaa', cursive; }

#footer h6 {
  font-family: 'Comfortaa', cursive;
  color: #444444; }

#about-header, #service {
  background-image: url(https://source.unsplash.com/random/800x800/?dark);
  background-attachment: fixed;
  background-size: cover;
  min-height: 250px; }
  #about-header h1, #about-header p, #service h1, #service p {
    color: #dee3e2;
    font-family: 'Comfortaa', cursive; }
  #about-header .container, #service .container {
    width: 50%; }

#about-main h1, #about-main p, #icons h1, #icons p, #testimonial h1, #testimonial p {
  font-family: 'Comfortaa', cursive; }
